<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Peap's blog</title>
    </head>
    <body>
      <h1>
          <a href="{% url 'post_list' %}">
              Django Girls Tutorial Blog
          </a>
      </h1>
      {% for post in posts %}
          <div id="post-{{ post.id }}">
              <p>published: {{ post.published_date }}</p>
              <h2>
                  <a href="#post-{{ post.id }}">{{ post.title }}</a>
              </h2>
              <p>{{ post.text|linebreaks }}</p>
          </div>
      {% endfor %}
    </body>
</html>
